// Navigation

.navbar {
  font-family: "Roboto";
  --bs-navbar-padding-y: 1.5rem !important;
  // border-bottom: 2px solid color(brand, main-red);
  // box-shadow: 2px 10px 10px 0px rgba(0,0,0,0.2);

  &-brand {
    cursor: pointer;

    &__logo {
      img {
        background-color: color(gray, mist) !important;
        border-radius: 50%;
        height: 50px;
        width: 50px !important;
        padding: 3px !important;
      }
    }
  }
}
