// Variables

// Spacing

// Borders

// Colours
$palettes: (
  black: (
    base: #000000,
  ),
  white: (
    base: #ffffff,
  ),
  gray: (
    air: #f5f5f4,
    haze: #f0f0f0,
    mist: #dadbdd,
    ghost: #c6c6c6,
    granite: #969699,
    slate: #4f5054,
    charcoal: #262525,
  ),
  brand: (
    main-red: #e40c2b,
    black: #1d1d2c,
    eggshell: #f7f4e9,
    green: #3cbcc3,
    orange: #eba63f,
    dark-green: #438945,
  ),
);

// Transitions
$transition-normal: 0.14s;
$transition-slow: 0.28s;

// Fonts
$base-font-size: 16;
// $base-font-stack: "SourceCodePro", "sans-serif";
